<h4>Workout on <%= @workout.date_time.strftime("%A, %B %d |  %I:%M %P") %></h4>

<p>Activity: <%= @workout.activity %></p>
<p>Location: <%= @workout.location %></p>
<p><%= @workout.description %></p>
